<div class="d-flex flex-column flex-shrink-0 p-3 radius-5 sidebar bg-white shadow-sm">
    <span class="fs-4">Actions</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="#" class="nav-link" aria-current="page">
                {{ feathericon('home', {stroke: '#878a99', 'stroke-width': 2, 'width': 16, 'height': 16}) }}
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                {{ feathericon('codepen', {stroke: '#878a99', 'stroke-width': 2, 'width': 16, 'height': 16}) }}
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                {{ feathericon('shopping-bag', {stroke: '#878a99', 'stroke-width': 2, 'width': 16, 'height': 16}) }}
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                {{ feathericon('layers', {stroke: '#878a99', 'stroke-width': 2, 'width': 16, 'height': 16}) }}
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                {{ feathericon('users', {stroke: '#878a99', 'stroke-width': 2, 'width': 16, 'height': 16}) }}
                Users
            </a>
        </li>
    </ul>
    <hr>
    logout
</div>