<nav class="navbar navbar-expand-md bg-white fixed-top responsive-padding shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('admin_dashboard') }}">LOGO</a>
        <div class="navbar-nav ms-auto mb-2 mb-md-0">
            <div class="nav-item ms-5">
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        {% if app.user.getProfilePicture %}
                            <img src="/files/{{ app.user.getProfilePicture.getFilePath }}" class="rounded-circle me-2" height="25" width="25" alt="Black and White Portrait of a Man" loading="lazy"/>
                        {% endif %}
                        <strong>{{ app.user.username }}</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" href="{{ path('my_profile') }}">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>