<div class="d-flex flex-column flex-shrink-0 p-3 text-grey sf-bg-secondary block sidebar">
{#    <span class="fs-4">Sidebar</span>#}
{#    <hr>#}
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
{#            <a href="#" class="nav-link text-white active" aria-current="page">#}
            <a href="#" class="nav-link text-white100" aria-current="page">
                {{ feathericon('home', {stroke: '#ffffff', 'stroke-width': 2, 'width': 16, 'height': 16}) }}
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-grey">
                {{ feathericon('codepen', {stroke: '#878a99', 'stroke-width': 2, 'width': 16, 'height': 16}) }}
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-grey">
                {{ feathericon('shopping-bag', {stroke: '#878a99', 'stroke-width': 2, 'width': 16, 'height': 16}) }}
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-grey">
                {{ feathericon('layers', {stroke: '#878a99', 'stroke-width': 2, 'width': 16, 'height': 16}) }}
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-grey">
                {{ feathericon('users', {stroke: '#878a99', 'stroke-width': 2, 'width': 16, 'height': 16}) }}
                Users
            </a>
        </li>
    </ul>
    <hr>
    logout
</div>