{% extends 'dashboard/base.html.twig' %}

{% block title %}Product types{% endblock %}

{% block dashboard %}
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product types</li>
        </ol>
    </nav>

    <div class="card">
        <h3 class="card-header">Product types</h3>
        <div class="card-body">
            <table class="table align-middle bg-white">
                <thead class="bg-light">
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for type in types %}
                    <tr {{ stimulus_controller('product-type') }}>
                        <td {{ stimulus_target('product-type', 'name') }}>{{ type.name }}</td>
                        <td>
                            <a href="{{ path('edit_product_type', {'typeId': type.id}) }}">Edit</a>
                            <span class="ms-3 text-danger cursor-pointer" data-action="click->product-type#delete">Delete</span>
                            <div class="d-none" {{ stimulus_target('product-type', 'id') }}>{{ type.id }}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('add_new_product_type') }}" class="btn btn-primary">Add new product type</a>
        </div>
    </div>

{% endblock %}